<div class="header bg-primary">
  <a href="#" [routerLink]="['/getting-started']">NG-Auto-Form</a>
  <a href="https://github.com/MichaelBluetooth/ng-auto-form"><i class="fa fa-github float-right" aria-hidden="true"></i></a>
  <span class="float-right">v0.0.3-beta</span>
</div>
<div class="sidenav header-padding d-none d-sm-block">
  <a href="#" [routerLink]="['/getting-started']">Getting Started</a>
  <span class="sidenav-section-header">Fields</span>
  <a href="#" [routerLink]="['/fields/text']">Text</a>
  <a href="#" [routerLink]="['/fields/memo']">Memo</a>
  <a href="#" [routerLink]="['/fields/list']">List Field</a>
  <a href="#" [routerLink]="['/fields/logical']">Logical Field</a>
  <a href="#" [routerLink]="['/fields/number']">Number Field</a>
  <a href="#" [routerLink]="['/fields/multilist']">Multi List</a>
  <a href="#" [routerLink]="['/fields/imagelist']">Image List</a>
  <a href="#" [routerLink]="['/fields/casno']">CAS Number</a>
  <a href="#" [routerLink]="['/fields/nfpa']">NFPA</a>
  <a href="#" [routerLink]="['/fields/relationship']">Relationship</a>
  <a href="#" [routerLink]="['/fields/date']">Date</a>
  <a href="#" [routerLink]="['/validation']">Validation</a>
  <span class="sidenav-section-header">Other</span>
  <a href="#" [routerLink]="['/direct-usage']">Direct Usage of Fields</a>
</div>
<div class="main header-padding">
  <div class="container float-left">
    <router-outlet></router-outlet>
  </div>
</div>